/* GLOBAL & GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1B1D72;
  color: #1AD475;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
}

h2 {
  display: block;
  width: 30%;
  margin: 0 auto;
  background-color: #1B1D72;
  position: absolute;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 400;
  text-align: center;
  z-index: 90;
}

a {
  color: #1AD475;
  text-decoration: none;
}

*:focus {
  outline: none;
}

/* SCROLL-BAR */
*::-webkit-scrollbar {
  width: 10px;
  color: #1AD475;
}
*::-webkit-scrollbar-track {
  background: #1B1D72;
  margin-top: 10px;
  margin-bottom: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1B1D72;
  border-left: 2px solid #1AD475;
  z-index: 2;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}


/* MENU */
.menu__button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  color: #1AD475;
  background-color: #1B1D72;
}

.menu__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1B1D72;
  z-index: 100;
}

.menu__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1AD475 solid 2px;
  height: 80vh;
  width: 90vw;
}

.menu__items {
  list-style-type: none;
  font-size: 24px;
}

.menu__items li {
  margin: 0.5rem 0;
}

#close__button {
  position: absolute;
  top: 10px;
  right: 10px;
}


/* NEWS */
.news__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .news__wrapper {
    height: auto;
  }
}

.news__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  overflow: scroll;
  border: #1AD475 solid 2px;
}

@media (min-width: 600px) {
  .news__content {
    height: auto;
    width: 100%;
  }
}

.news__single--wrapper:nth-child(1) {
  margin-top: 2.4rem;
}

.news__single--wrapper  a:hover{
  text-decoration: underline;
}

.news__hide-top {
  background-color: #1B1D72;
  width: 84%;
  height: 1rem;
  position: fixed;
  margin-top: -0.5rem;
  z-index: 0;
}

.news__single--wrapper {
  display: flex;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.news__timestamp {
  color: #FF1494;
  margin-right: 1rem;
  padding-top: 0.2rem;
}

.news__headline {
  line-height: 24px;
}


/* EXCHANGE */
.currency__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .currency__wrapper {
    height: auto;
  }
}

.currency__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  overflow: scroll;
  border: #1AD475 solid 2px;
}

@media (min-width: 600px) {
  .currency__content {
    height: auto;
    width: 100%;
  }
}

.currency__single--wrapper {
  display: flex;
  margin: 1rem 0;
  font-weight: 400;
  justify-content: space-between;
}

.currency__single--wrapper > div {
  width: 20%;
}

.currency__name {
  text-transform: uppercase;
  color: #999999;
}

.currency__headers {
  color: #999999;
}


/* Chat*/
.chat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .chat__wrapper {
    height: auto;
  }
}

.chat__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  border: #1AD475 solid 2px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

@media (min-width: 600px) {
  .chat__content {
    height: auto;
    width: 100%;
  }
}

.chat__content--after-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input__wrapper {
  display: flex;
  color: #FF1494;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
}

::placeholder { 
  color:  #999999;    
  opacity: 1;
}  

:-ms-input-placeholder {    
  color:#999999;
}

input {
  background-color: #1B1D72;
  caret-color: #1AD475;
  border: none;
  margin-left: 0.5rem;
  color: #1AD475;
  font-family:'Space Mono', monospace;
  font-size: 1rem;
  width: 26%;
}

input:focus {
  outline-width: 0;
}

.chat__button {
  font-family: 'Space Mono', monospace;
  color: #1AD475;
  background-color: #1B1D72;
  border-left: solid #1AD475 2px;
  border-top: solid #1AD475 2px;
  border-right: solid #FF1494 2px;
  border-bottom: solid #FF1494 2px;
  box-shadow: inset -2px -2px #1AD475;
  position: relative;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  text-align: center;
  border-radius: 2px;
  margin-top: 16px;
  text-transform: uppercase;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.chat__input {
  width: 90%;
}

.chat__user {
  color: #FF1494;
}

.chat__messages li {
  margin-top: 0.4rem;
  list-style-type: none;
}

.chat__goggurinn {
  margin-left: -0.6rem;
}

@media (min-width: 600px) {
  .desktop__wrapper {
    
    padding-top: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 6fr;
    gap: 2rem;
  }
}