/* GLOBAL & GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1B1D72;
  color: #1AD475;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
}

h2 {
  display: block;
  width: 30%;
  margin: 0 auto;
  background-color: #1B1D72;
  position: absolute;
  /* Ari breytti header i minna top */
  top: 4.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 400;
  text-align: center;
  z-index: 90;
}

a {
  color: #1AD475;
  text-decoration: none;
}

*:focus {
  outline: none;
}

/* SCROLL-BAR */
*::-webkit-scrollbar {
  width: 10px;
  color: #1AD475;
}
*::-webkit-scrollbar-track {
  background: #1B1D72;
  margin-top: 10px;
  margin-bottom: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1B1D72;
  border-left: 2px solid #1AD475;
  z-index: 2;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}


/* MENU */
.menu__button {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  position: absolute;
  right: 1.6rem;
  top: 1.1rem;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  color: #1AD475;
  background-color: #1B1D72;
}

.menu__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1B1D72;
  z-index: 100;
}

.menu__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1AD475 solid 2px;
  height: 80vh;
  width: 90vw;
}

.menu__items {
  list-style-type: none;
  font-size: 24px;
}

.menu__items li {
  margin: 0.5rem 0;
}

#close__button {
  position: absolute;
  top: 1.1rem;
  right: 1.4rem;
  font-family: 'Space Mono', monospace;
}

.logo__mobile {
  width: 50%;
  position: fixed;
  top: 1.2rem;
  left: 1.5rem;
}


/* NEWS */
.news__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .news__wrapper {
    height: 100%;
  }
}

.news__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  overflow: scroll;
  border: #1AD475 solid 2px;
}

@media (min-width: 600px) {
  .news__content {
    height: 100%;
    width: 100%;
  }
}

.news__single--wrapper:nth-child(1) {
  margin-top: 2.4rem;
}

.news__single--wrapper  a:hover{
  text-decoration: underline;
}

.news__hide-top {
  background-color: #1B1D72;
  width: 84%;
  height: 1rem;
  position: fixed;
  margin-top: -0.5rem;
  z-index: 0;
}

.news__single--wrapper {
  display: flex;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.news__timestamp {
  color: #FF1494;
  margin-right: 1rem;
  padding-top: 0.2rem;
}

.news__headline {
  line-height: 24px;
}


/* EXCHANGE */
.currency__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .currency__wrapper {
    height: 100%;
  }
}

.currency__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  overflow: scroll;
  border: #1AD475 solid 2px;
}

@media (min-width: 600px) {
  .currency__content {
    height: 100%;
    width: 100%;
    padding: 1rem 1.4rem;
  }
}

.currency__single--wrapper {
  display: flex;
  margin: 1rem 0;
  font-weight: 400;
  justify-content: space-between;
}

.currency__single--wrapper > div {
  width: 20%;
}

.currency__name {
  text-transform: uppercase;
  color: #1AD475;
}

.currency__price{
  color: #999999;
}
.currency__volume{
  color: #999999;
}




/* Chat*/
.chat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  .chat__wrapper {
    height:100%;
  }
}

.chat__content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  padding: 0.5rem 0.5rem;
  border: #1AD475 solid 2px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

@media (min-width: 600px) {
  .chat__content {
    height: 100%;
    width: 100%;
  }
}

.chat__content--after-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input__wrapper {
  display: flex;
  color: #FF1494;
  /* justify-content: center;  Ari */
  /* width: 100%;  Ari*/
  margin-top: 1rem;
  /* margin-left: 1rem; Ari*/
}
@media (min-width: 600px) {
  .input__wrapper {
    align-items: center;
    /* margin-left: 0; Ari */
  }
}

::placeholder { 
  color:  #999999;    
  opacity: 1;
}  

:-ms-input-placeholder {    
  color:#999999;
}

input {
  background-color: #1B1D72;
  caret-color: #1AD475;
  border: none;
  margin-left: 0.5rem;
  color: #1AD475;
  font-family:'Space Mono', monospace;
  font-size: 1rem;
  /* ARI  breytti WIDTH */
  width: 6rem;
}

input:focus {
  outline-width: 0;
}

.chat__button {
  font-family: 'Space Mono', monospace;
  color: #1AD475;
  background-color: #1B1D72;
  border-left: solid #1AD475 2px;
  border-top: solid #1AD475 2px;
  border-right: solid #FF1494 2px;
  border-bottom: solid #FF1494 2px;
  box-shadow: inset -2px -2px #1AD475;
  position: relative;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  text-align: center;
  border-radius: 2px;
  margin-top: 16px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .chat__button{
    /* left: 0.5rem; Ari */
  }
}

.chat__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}



.chat__input {
  width: 90%;
}

.chat__user {
  color: #FF1494;
}

.chat__messages li {
  margin-top: 0.4rem;
  list-style-type: none;
  word-break: break-word;
}


.chat__goggurinn {
  /* margin-left: -0.8rem; Ari */
}

@media (min-width: 600px) {

  header {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }

  h2 {
    width: 20%;
  }

  #news__header{
    position: absolute;
    top: -1rem;
    width: 30%;
  }

  #exchange__header{
    position: absolute;
    top: -1rem;
    width: 30%;
  }

  #chat__header{
    position: absolute;
    top: -1rem;
    width: 30%;
  }

  .desktop__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;/* Ari */
    gap: 2rem;
    grid-template-areas: 
    'a c'
    'b c' ;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    height: 80vh;/* Ari */
    word-wrap: break-word;
  }

  .currency__desktopbox {
    grid-area: b;
    height: 100%;/* Ari */
    position: relative;
  }

  .news__desktopbox {
    grid-area: a;
    height: 100%;/* Ari */
    position: relative;
  }

  .join__desktopbox {
    grid-area: c;
    position: relative;
    height: 100%;/* Ari */
  }

  /* Ari
  input {
      width: 5rem;
  } */

  .chat__messages {
    width: 90%;
  }

  .news__hide-top {
    width: 95%;
    position: absolute;
    height: 1.5rem;
  }

  .currency__hide-top {
    width: 90%;
    position: absolute;
    height: 1.5rem;
    margin-top: -1rem;
    background-color: #1B1D72;
    z-index: 0;
  }
}

/* Animations */
@keyframes fade-in {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}
  
@keyframes color-pop {
  0% {
  color: #1B1D72;
  border-color: #1B1D72;
  }
  40% {
  color: #FF1494;
  border-color: #FF1494;
  }
  80% {
  color: #1AD475;
  border-color: #1AD475;
  }
}
  
.chat__wrapper {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
  
.currency__wrapper {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
  
.news__wrapper {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
  
.menu__wrapper {
  animation: color-pop;
  animation-duration: 1s;
  animation-timing-function: linear;
}


.negative__change {
  color: #FF1494;
}
.positive__change {
  color: #1AD475;
}